html{
    scroll-behavior: smooth;
}
body{
    background-color: darkcyan;
    font-size: 30px;
    margin: 0;
}
h2{
    font-size: 20px;
    
    color: white;
    
}
p{
    background-color: none;
    font-size: 70%;
    margin: auto;

}
nav{
    background: url(https://wallpaperaccess.com/full/562838.jpg) center;
    width: 100%;
    height: 200px;    
    padding: 20px;
    display:flex;
    flex: auto;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.vertaling{
    padding: 5px;
    text-decoration: none;
    font-size: 10px;
    color: white;
    position: absolute;
}
button{
    padding: 15px 20px;
    background-color: darkblue;
    color: white;
    font-size: 20px;
    border: 1px solid white;
    transition-duration: 0.3s;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    
}
.social{
    display: flex;
    justify-content: center;
    
}
.instagram{
    display: inline-flex;
    justify-content: center;
    height: 30px;
    width: 30px;
    background-color: black;
    color: white;
    border: 2px solid yellow;
    border-radius: 50%;
    padding: 5px;
    text-decoration: none;
}
.twitter{
    height: 30px;
    width: 30px;
    background-color: black;
    color: white;
    border: 2px solid yellow;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    padding: 5px;
    text-decoration: none;
}
.facebook{
    height: 30px;
    width: 30px;
    background-color: black;
    color: white;
    border: 2px solid yellow;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    padding: 5px;
    text-decoration: none;
}
.home{
    padding: 15px 20px;
    text-decoration: none;
    background-color: darkblue;
    color: white;
    font-size: 20px;
    font-weight: 400;
    border: 1px solid white;
    transition-duration: 0.3s;
    font-family: 'Open Sans', sans-serif;
}
.home:hover{
    background-color: cyan;
}
.tentoonstellingen{
    padding: 15px 20px;
    text-decoration: none;
    background-color: darkblue;
    color: white;
    font-size: 20px;
    font-weight: 400;
    border: 1px solid white;
    transition-duration: 0.3s;
    font-family: 'Open Sans', sans-serif;
}
.tentoonstellingen:hover{
    background-color: cyan;
}
.planbezoek{
    padding: 15px 20px;
    text-decoration: none;
    background-color: darkblue;
    color: white;
    font-size: 20px;
    font-weight: 400;
    border: 1px solid white;
    transition-duration: 0.3s;
    font-family: 'Open Sans', sans-serif;
}
.planbezoek:hover{
    background-color: cyan;
}
.reviews{
    padding: 15px 20px;
    text-decoration: none;
    background-color: darkblue;
    color: white;
    font-size: 20px;
    font-weight: 400;
    border: 1px solid white;
    transition-duration: 0.3s;
    font-family: 'Open Sans', sans-serif;
}
.reviews:hover{
    background-color: cyan;
}
.tickets{
    padding: 15px 20px;
    text-decoration: none;
    background-color: darkblue;
    color: white;
    font-size: 20px;
    font-weight: 400;
    border: 1px solid white;
    transition-duration: 0.3s;
    font-family: 'Open Sans', sans-serif;
}
.tickets:hover{
    background-color: cyan;
}
.contact{
    padding: 15px 20px;
    text-decoration: none;
    background-color: darkblue;
    color: white;
    font-size: 20px;
    font-weight: 400;
    border: 1px solid white;
    transition-duration: 0.3s;
    font-family: 'Open Sans', sans-serif;
}
.contact:hover{
    background-color: cyan;
}
button:hover{
    background-color: cyan;
}

article{
    margin: 0 auto;
    width: 60vw;
    padding: 40px;
}

img{
    width: 100%;
    border-radius: 5px;
    transition-duration: 0.3s;
}
img:hover{
    transform: scale(1.05)
}
.slideshow{
    height: 380px;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightskyblue;
    margin-bottom: 40px;
    border:darkslategrey solid 8px ;
    border-radius: 30px;
}
.foto{
    height: 390px;
    width: 22vw;
    padding-left: 35px ;
    padding-right: 35px;
    object-fit: cover;
    border-radius: 30px;
}
.left ,.right{
  height: 130px;
  width: 150px;
  border-radius: 10px;
}

.contactgegevens{
    display: flex ;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 90vw;
    background-color: lightskyblue;
    border: 8px solid darkslategrey;
    height: 300px;
    border-radius: 30px;
    font-size: 100%;
}
.tijden{
    background-color: lightskyblue;
    text-align: right;
}
.reviewpage{
    width: 80vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    
}
section{
    width: 30%;
    margin: 10px;
    border:solid darkslategrey 5px;
    border-radius: 10px;
    padding: 10px;
    background-color: skyblue;
}

.Boven{
    display: flex;
    align-content: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    color: white;
    background-color: cadetblue;
    position: fixed;
    bottom: 20px;
    right: 30px;
    text-decoration: none;
    border: none;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
}
@media screen and (max-width:1225px){
    .contactgegevens{ 
        font-size: 100%;
        height: 200px;
    }

}
@media screen and (max-width:1000px) {
    article{
        width: 80vw;
    }
    footer > p{
        width: 80vw;
    }
    img:hover{
        transform:none;
    }
    .Boven{
        width: 60px;
        height: 60px;
        bottom:60px;
        right: 60px;
    }
    .contactgegevens{
        width: 100vw;
    }
}
@media screen and (max-width:940px){
    .contactgegevens{
        font-size: 80% ;
        display: block;
        height: 400px;
        text-align: center;
    }
    .tijden{
        text-align: center;
    }
}

@media screen and(max-width: 600px) {
    body{
        font-size: 16px;
    }
    article{
        width: 100vw;
        padding:20px;
    }
    h1{
        font-size: 180%;

    }
    footer > p{
        width: 100vw;
        padding-left: 20px;
    }
    .Boven{
        width: 60px;
        height: 60px;
        bottom:60px;
        right: 60px;
    }
    .contactgegevens{
        width: 100vw;
    }
}

